/* Font Creation */
@font-face {
    font-family: 'Main-Font';
    src: url("/quiplash/static/fonts/GROBOLD.ttf")
}

/* Default for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Default for all pages */
html {
    height: 100vh;

    background: #12c2e9;
    background: -webkit-linear-gradient(to bottom right, #f64f59, #c471ed, #12c2e9);
    background: linear-gradient(to bottom right, #f64f59, #c471ed, #12c2e9);
    background-size: inherit;
    background-repeat: no-repeat;
}